
/* Footer Component */

.footer {
  background-color: #007bff;
  padding: 20px 50px;
  position: absolute;
  margin-top: 30px;
  top: 90%;
  bottom: 0;
  width: 100%;
  height: fit-content;

  @media (max-width: 856px) {
    padding: 20px;
    position: static;
    margin-top: 0;
  }
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;

  @media (max-width: 856px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 856px) {
    flex-wrap: wrap;
  }
}

.footer__section {
  width: 33.33%;
  padding-right: 50px;

  @media (max-width: 856px) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.footer__section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;

  @media (max-width: 856px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.footer__social-icons {
  padding: auto;

  @media (max-width: 856px) {
    display: flex;
    margin-bottom: 20px;
  }
}

.footer__section-item {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #666;

  &:hover {
    color: #333;
  }

  @media (max-width: 856px) {
    font-size: 14px;
  }
}