/* Home page styles */

.home {
  height: auto;
  background-image: url("https://images.zenu.com.au/1200-min/mdiikrm6g1djfdiio18pif7j9lak744j.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 500px;
  opacity: 0.9;
  align-items: center;
  flex-direction: column;

  @media (max-width: 856px) {
      
    margin-bottom: 10px;
  
}

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    
  }

  .button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: #0069d9;
    }
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    @media (max-width: 856px) {
      
      padding: 0px 20px;
    
  }
  }
  h6{
    padding: 0px 150px;
    @media (max-width: 856px) {
      
      padding: 0px 20px;
    
  }
  }

  .property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    margin: 2rem 0;
    align-items: center;

    .property-card {
      background-color: $color-white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      padding: 2rem;

      .property-image {
        height: 100px;
        width: 80%;
        background-position: center;
        background-size: cover;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      .property-description {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      .property-price {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .property-address {
        font-size: 1.4rem;
      }
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    button {
      background-color: $color-primary;
      color: $color-white;
      border: none;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: darken($color-primary, 10%);
      }
    }
  }
}
/* _home.scss */

/* Mobile-first styles */

.home-container {
  padding: 20px;
  
  .property-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Tablet styles */
@media (min-width: 768px) {
  .home-container {
    .property-card {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 20px;
      
      &:nth-child(2n) {
        margin-right: 0;
      }

      h2 {
        padding: 0 20px; /* Add padding to the h2 element */
      }
    }
  }
}
/* Desktop styles */
@media (min-width: 1024px) {
  .home-container {
    .property-card {
      width: calc(33.3333% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
